* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.centrado {
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.horizontal {
  display: flex;
}

.vertical {
  display: block;
}

/* Container needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the trigger button */
.dropbtn {
  background-color: grey;
  color: white;
  padding: 1rem 1rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Hide the dropdown menu by default and position it */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu when the user hovers over the button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the button color when the dropdown is open */
.dropdown:hover .dropbtn {
  background-color: rgb(197, 197, 197);
}



.busqueda {
  width: 10rem;
  background-color: rgb(187, 183, 183);
  margin-right: 45%;
}

nav {

  justify-content: space-evenly;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.cuadricula {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}

.proyecto {
  background-color: blue;
  width: 25rem;
  aspect-ratio: 2/1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}

.proyecto:hover {
  background-color: rgb(103, 103, 255);
}

.etiqueta {
  border-radius: 50%;
  background-color: black;
  width: 3rem;
  height: 3rem;
  margin-left: .5rem;
}

.center {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25rem;
  margin-right: 25rem;
  padding: 3rem;
}

.circulo {
  border-radius: 50%;
  background-color: rgb(37, 35, 35);
  width: 2.5rem;
  height: 2.5rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.info {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.infoleft {
  display: flex;
}

.inforight {
  display: flex;
}

.foto {
  width: 20rem;
  aspect-ratio: 1/1;
  background-color: darkgrey;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;

}

.texto {
  text-align: center;
}

footer {
  background-color: rgb(61, 57, 57);
  width: 100vw;
  height: 7rem;
  margin-top: 5rem;
  justify-content: right;
  display: flex;
  align-items: center;
  padding: 2%;
}

.boton {
  background-color: grey;
height: 2.5rem;
aspect-ratio: 3/1;

}